*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #0c0d0e;
}

.nav-link{
    padding-top: 25px;
    color: #fff;
    font-size: 18px;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link:hover{
    color: #DA3918;
    text-decoration:none;
    cursor: pointer;
}

.navbar-toggler{
    margin: 18px;
    font-size: 20px;
    line-height: 0.3;
    background-color: #DA3918;
}

body{
    background-color: #0c0d0e;
    
}

.section-padding{
    padding: 70px 0;
}

.carousel-caption{
    z-index: 2;
   background-color: #0c0d0e;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius:35px ;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25pxs;
    color: #DA3918;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-indicators [data-bs-target]{
    background-color: #DA3918; 
}

.services .card-body{
    font-size: 50px;
}

.title{
    color: #DA3918;
}

.subtitle{
    color: #fff;
    margin: 0 auto;
}

.card-title{
    color: #DA3918;
}

p{
  font-size: 20px;
}

.button{
  background-color: #DA3918;
  color: #fff;
  cursor: pointer;
}

.button:hover{
  background-color: #fff;
  color: #DA3918;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
    padding: 60px 0;
  }

  .question{
    color: #DA3918;
  }
  
  .faq .faq-list {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .faq .faq-list .question {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #DA3918;
    transition: 0.3s;
  }
  
  .faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
    color: #fff;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list .collapsed {
    color: #fff;
  }
  
  .faq .faq-list .collapsed:hover {
    color: #DA3918;
  }
  
  .faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
  }
  
  .faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
  }
  
  @media (min-width: 1280px) {
    .faq .container {
      padding: 0 120px;
    }
  }

.team .card-body{
    font-size: 20px;
}

.about-text h2{
    color: #DA3918;
}

.about-text p{
    color: #fff;
}

@media(max-width: 767px){
  
    .carousel-caption{
        border-radius: 14px;
    }

    .carousel-caption h5{
        font-size: 12px;
    }

    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 8px;
    }

    .about-text{
        padding-top: 50px
    }

    .cad{
        margin-bottom: 30px;
    }

    .section-padding{
        padding: 50px 0;
    }
}
